{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:nuxt/recommended",
    "plugin:vue/vue3-recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "prettier", "unused-imports"],
  "rules": {
    "unused-imports/no-unused-imports": "warn",
    "vue/multi-word-component-names": 0,
    "vue/component-name-in-template-casing": [
      "error",
      "PascalCase",
      {
        "registeredComponentsOnly": false
      }
    ],
    "vue/attributes-order": [
      "error",
      {
        "order": [
          ["LIST_RENDERING", "CONDITIONALS", "RENDER_MODIFIERS"],
          ["DEFINITION", "GLOBAL", "UNIQUE"],
          "TWO_WAY_BINDING",
          "OTHER_DIRECTIVES",
          "OTHER_ATTR",
          "EVENTS",
          "CONTENT"
        ],
        "alphabetical": false
      }
    ],
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": {
          "max": 1
        },
        "multiline": {
          "max": 1
        }
      }
    ],
    "vue/component-tags-order": [
      "error",
      {
        "order": [["script", "template"], "style"]
      }
    ],
    "vue/component-api-style": [
      "error",
      ["script-setup"] // "script-setup", "composition", "composition-vue2", or "options"
    ],
    "vue/define-macros-order": [
      "error",
      {
        "order": ["defineProps", "defineEmits"]
      }
    ]
  }
}
