{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "printWidth": 130,
  "singleAttributePerLine": true,
  "trailingComma": "all",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "auto"
}